body {
    background-color: #fafafa;
    color: black;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p{
    font-family: 'Lucida Grande', Arial, sans-serif;
}

h1{
    font-size: 34px;
}

header {
    background-color: #f3e0d1;
}

footer {
    background-color: #f3e0d1;
    min-height: 100px;
}

.wide{
    width: 100%;
}

.center{
    margin: auto;
    text-align: center;
}

.active-menu-item{
    opacity: 25%;
    font-weight: bold;
}

#nav-side-bar{
    width: 100%;
    display: none;
}

#header-logo{
    width: 200px;
    height: 200px;
}

#banner-large{
    width: 1200px;
    height: 300px;
    resize: both;
}

#header-auth-line{
    padding-top: 3px;
}

#header-menu{
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-right-width: 0;
    border-left-width: 0;
    border-top-color: green;
    border-bottom-color: green;
    border-style: solid;
}

#header-site-title{
    font-weight: bold;
    font-family: 'Lucida Grande', Arial, sans-serif;
    font-size: 36px;
}

/**
 Modifying allauth pages
 */
.page-wrapper{
    width: 50%;
    margin: auto;
    text-align: center;
}
.page-wrapper input[type="text"],
.page-wrapper input[type="password"],
.page-wrapper input[type="email"] {
    width: 100%;
    margin-right: 0;
}
.page-wrapper label{
    margin-left: 0;
    font-weight: bold;
}

.page-wrapper table{
    width: 100%;
    text-align: left;
}
.page-wrapper th{
    width: 25%;
    padding-top: 0;
    vertical-align: top;
}

.page-wrapper button{
    font-weight: bold;
    border-width: 2px;
}

.page-wrapper ul{
    background-color: goldenrod;
}

/**
    messages
 */

.messages{
    padding-left: 0;
    text-align: center;
}

.messages li{
    list-style-type: none;
    padding-top: 8px;
    padding-bottom: 4px;
}

.debug{
    background-color: #6c757d;
    color: white;
}

.info{
    background-color: #17a2b8;
    color: black;
}
.success{
    background-color: #28a745;
    color: black;
}
.warning{
    background-color: #FFA500;
    color: black;
}

.error{
    background-color: #FF0000;
    color: white;
}

.paginator {
    border-top: gray solid 1px;
}

.blog{
    width: 75%;
    margin:auto;
}

.blog-comments{
    width: 75%;
    margin:auto;
}
.blog-comments h2 {
    text-align: left;
}
/**
    Data entry forms
 */
.data-entry-form{
    width: 75%;
    border: none;
    margin: auto;
    padding: 5px;
}

.field-group{
    margin-top: 5px;
}

.field-group label{
    font-weight: bold;
}

.form-button-wrapper{
    padding-top: 3px;
    width: 100%;
    text-align: center;
}

.form-button-wrapper button:hover{
    background-color: #2dc26b;
}

.errorlist{
    background-color: #8f5d00;
}

/* ------------------  Other styles ----------------------*/
.button-bar{
    margin: 15px 0 15px 0;
}

.button-bar button{
    margin-left: 15px;
}

.blog-info{
    font-style: italic;
    margin-bottom: 20px;
}

.blog-content{
    font-size: 1.5em;
}

.blog-to-approve{
    width: 350px;
    margin: auto;
}

.comment-info{
    font-style: italic;
    margin-bottom: 0;
    font-size: 0.75em;
    margin-top: 10px;
    border-left: solid 1px grey;
    border-right: solid 1px grey;
    border-top: solid 1px grey;
}
.comment-text {
    margin-bottom: 15px;
    padding-left: 16px;
    border-left: solid 1px grey;
    border-right: solid 1px grey;
    border-bottom: solid 1px grey;
}

/* -- desktop screen --*/

/* -- Screen sizes are W3css responsiveness screen sizes --*/

@media screen and (min-width: 994px){

}

/* -- tablet screen --*/
@media screen and (max-width: 993px){
    .page-wrapper{
        width: 75%;
    }
    .blog{
        width: 85%;
    }
}

/* -- mobile screen --*/
@media screen and (max-width: 600px){
    .page-wrapper{
        width: 95%;
    }
    .blog{
        width: 95%;
    }
}
