{% extends '_base.html' %}
{% load static %}
{% load has_role %}
{% block head_title %}CandleMania | Blogs{% endblock head_title %}
{% block content %}

    {% include 'snippets/messages.html' %}

    {% if user.is_authenticated %}
        <div class="w3-container button-bar w3-bar">
            {% if blog.author == user %}
                <form action="{% url 'blog-update'%}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name = "key" value="{{ blog.slug }}">
                    <input type="hidden" name="action" value="to_update">
                    <button class="w3-button w3-amber w3-hover-green w3-bar-item" type="submit">Edit</button>
                </form>
            {% endif %}
            {% if request.user|has_role:"Editor" and not blog.approved %}
                <form action="{% url 'blog-approve'%}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name = "key" value="{{ blog.slug }}">
                    <input type="hidden" name="action" value="to_approve">
                    <button class="w3-button w3-amber w3-hover-green w3-bar-item" type="submit">Approve</button>
                </form>
            {% endif %}
            {% if blog.author == user or user|has_role:"Editor" %}
                <form action="{% url 'blog-delete'%}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name = "key" value="{{ blog.slug }}">
                    <input type="hidden" name="action" value="to_delete">
                    <button class="w3-button w3-amber w3-bar-item w3-right w3-hover-red" type="submit">Delete</button>
                </form>
            {% endif %}
        </div>
    {% endif %}

<div class="c3-container blog w3-border-bottom">
    <h1 class="center">{{ blog.title }}</h1>
    <div class="blog-info">
        <div class="w3-block">
            Author: {{ blog.author }}
        </div>
        <div class="w3-block">
            Published: {{ blog.updated_at|date }}
        </div>
        {% if blog.author == user %}
            <div class="w3-block">
                Approved: {{ blog.approved|yesno:"Yes,No" }}
            </div>
        {% endif %}
    </div>
    <div class="blog-content">
        {{ blog.content|safe }}
    </div>

</div>

    <!---

    Blog comments

    -->

<div class="c3-container blog-comments">
    <h2>Comments</h2>
    {% if comments.count == 0 %}
        <p>No comments yet. Be the first to write.</p>
    {% endif %}

    {% if user.is_authenticated %}
    <form method="post" action="{% url 'comment-add' %}">
        <div class="field-group">
            <label for="comment">Write a comment</label>
            <input type="text" name="comment" id="comment" value="" placeholder="Write something good" required
                   maxlength="255" size="30"/>
            {% csrf_token %}
            <input type="hidden" name="blog_slug" value="{{ blog.slug }}">
            <button type="submit" class="w3-button w3-amber w3-hover-green">Add Comment</button>
        </div>
    </form>
    {% else %}
        To add comments you have to be <a href="{% url 'account_login' %}">logged in</a>.
    {% endif %}


    {% if user.is_authenticated %}
        {% for comment in comments.all %}
            <div class="w3-bar comment-info">
                <div class="w3-bar-item">
                    Author: {{ comment.author }}, {{ comment.updated_at|date }}
                </div>
            </div>
                    <div class="w3-bar">
                        {% if not comment.approved and user == blog.author %}
                            <div class="w3-bar-item">
                                <form action="{% url 'comment-approve' %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="comment_id" value="{{ comment.id }}">
                                    <button name="approve" type="submit" class="w3-amber w3-hover-green">Approve</button>
                                </form>
                            </div>
                        {% endif %}
                        {% if user == blog.author or user == comment.author %}
                            <div class="w3-bar-item">
                                <form action="{% url 'comment-delete' %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="comment_id" value="{{ comment.id }}">
                                    <button name="delete" type="submit" class="w3-amber w3-hover-red">Delete</button>
                                </form>
                            </div>
                        {% endif %}
                     </div>
                        <div class="comment-text">
                            {{ comment.content }}
                        </div>
                {% endfor %}
                </div>
            {% else %}
                {% for comment in public_comments %}
                        <div class="w3-padding comment-info">
                            Author: {{ comment.author }}, {{ comment.updated_at|date }}
                        </div>
                        <div class="comment-text">
                            {{ comment.content }}
                        </div>
                {% endfor %}
            {% endif %}
</div>

{% endblock content %}