{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="{% static '/assets/css/main.css' %}" type="text/css">
    <title>{% block head_title %}Candlemania{% endblock head_title %}</title>
    <link rel="icon" type="image/png" href="{% static 'assets/images/candlemania_favicon.png' %}">
</head>
<body>
<header>
    <div class="w3-container">
            <div>
                <span id="nav-open-side-bar" class="w3-xlarge w3-bold w3-hide-medium w3-hide-large">&#9776;</span>
            <nav class="w3-hide-medium w3-hide-large w3-top" id="nav-side-bar">
                <div class="w3-sidebar w3-bar-block w3-amber w3-border w3-border-black">
                  <div class="w3-hover-green">
                      <button class="w3-bar-item w3-button w3-hover-green"><span id="nav-close-side-bar" class="w3-right w3-xlarge">&times;</span></button>
                  </div>
                  <a href="{% url 'home' %}" class="w3-bar-item w3-button w3-hover-green {% if active_menu == "home" %}active-menu-item{% endif %}">Home</a>
                  <a href="{% url 'blog-home' %}" class="w3-bar-item w3-button w3-hover-green {% if active_menu == "blog" %}active-menu-item{% endif %}">Blogs</a>
                  <a href="{% url 'about' %}" class="w3-bar-item w3-button w3-hover-green {% if active_menu == "about" %}active-menu-item{% endif %}">About</a>
                </div>
            </nav>
                <div class="w3-right" id="header-auth-line">
                    {% if user.is_authenticated %}Welcome, {{ user.username }} |
                        <a href="{% url 'account_logout' %}">Logout</a>
                    {% else %}
                        <a href="{% url 'account_login' %}">Login</a> | <a href="{% url 'account_signup' %}">Register</a>
                    {% endif %}
                </div>
            </div>
    </div>
    <div class="w3-container w3-row">
        <div class="w3-col l6 m12 s12">
            <a href="{% url 'home' %}" id="logo-link"><img src="{% static 'assets/images/candlemania_logo.png' %}" alt="Candlemania Logo" id="header-logo">
                <span id="header-site-title">CandleMania</span></a>
        </div>
        <div class="w3-col l6 m12 s12" id="top_search_column">
            <div id="top_search_box_id">
                <form action="{% url 'search' %}" method="get" id="top-search-form-id">
                        <input type="text" placeholder="Search ..." value="{{ prev_search_criteria }}" name="search_criteria"
                        minlength="3" required>
                        <button class="w3-round-xlarge w3-hover-green  ">Search</button>
               </form>
            </div>
        </div>
    </div>
    <!-- horizontal menu -->
        <nav class="wide center w3-hide-small w3-amber" id="header-menu">
                <a href="{% url 'home' %}" class="w3-button w3-hover-green {% if active_menu == "home" %}active-menu-item{% endif %}">Home</a>
                <a href="{% url 'blog-home' %}" class="w3-button w3-hover-green {% if active_menu == "blog" %}active-menu-item{% endif %}">Blogs</a>
                <a href="{% url 'about' %}" class="w3-button w3-hover-green {% if active_menu == "about" %}active-menu-item{% endif %}">About</a>
        </nav>
</header>
<main>

{% block content %}


{% endblock content %}
</main>
<footer class="wide center">
    <p>&nbsp;</p>
    <p>Copyright&copy; 2024</p>
</footer>

<script src="{% static 'assets/js/main.js' %}">
</script>

</body>
</html>




